[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pandas = "*"
selenium = "*"
requests = "*"
beautifulsoup4 = "*"
jupyterlab = "*"
lxml = "*"
fake-useragent = "*"
pathlib = "*"
pydrive = "*"
tabula-py = "*"
wget = "*"
pdfplumber = "*"

[requires]
python_version = "3.9"
